/secret
*.pdf
Miniforge3-Linux-x86_64.sh

miniforge3
cache

__pycache__

node_modules
.env
.venv


data/*
pdfs/*
artifacts/*
wiki/docs.bak
.docusaurus
/private
*.pdf
.DS_Store

workflows/rag-ingest/config.yaml